<ul class="toolbar inline-menu" data-hook="toolbar-product-images">
  <li id="new_image_link" data-hook>
    <%= link_to_with_icon('plus', Spree.t(:new_image), 'javascript:', :data => { :target => '#images', :elementTag => 'tbody' }, :class => "plus button spree_add_image") %>
  </li>
</ul>

<%= render :partial => "spree/admin/products/images_table", locals: {f: f}, :formats => [:html], :handlers => [:erb] %>
