//= require_self
//= require spree/backend/handlebar_extensions
//= require spree/backend/variant_autocomplete
//= require spree/backend/taxon_autocomplete
//= require spree/backend/option_type_autocomplete
//= require spree/backend/user_picker
//= require spree/backend/product_picker
//= require spree/backend/taxons

/**
This is a collection of javascript functions and whatnot
under the spree namespace that do stuff we find helpful.
Hopefully, this will evolve into a propper class.
**/

jQuery(function($) {

  // Vertical align of checkbox fields
  $('.field.checkbox label').vAlign()

  <% # Re-adjusting admin menu during test causes tests to fail,
     # like states_spec and shipping_methods_spec. Let's not do this. %>
  <% unless Rails.env.test? %>
    $('.main-menu-wrapper ul').AdaptiveMenu({
      text: "<a href='#'><i class='fa fa-chevron-down'></i> " + Spree.translations.more + "</a>",
      klass: "dropdown"
    });
  <% end %>

  // Add some tips
  $('.with-tip').powerTip({
    smartPlacement: true,
    fadeInTime: 50,
    fadeOutTime: 50,
  });

  $('body')
    .on('powerTipPreRender', '.with-tip', function() {
      $('#powerTip').addClass($(this).data('action'));
      $('#powerTip').addClass($(this).data('tip-color'));
    })
    .on('powerTipClose', '.with-tip', function() {
      $('#powerTip').removeClass($(this).data('action'));
    })

  // Make flash messages dissapear
  setTimeout('$(".flash").fadeOut()', 5000);

  // Highlight hovered table column
  $('table tbody tr td.actions').find('a, button').hover(function(){
    var tr = $(this).closest('tr');
    var klass = 'highlight action-' + $(this).data('action')
    tr.addClass(klass)
    tr.prev().addClass('before-' + klass);
  }, function(){
    var tr = $(this).closest('tr');
    var klass = 'highlight action-' + $(this).data('action')
    tr.removeClass(klass)
    tr.prev().removeClass('before-' + klass);
  });

  // Trunkate text in page_title that didn't fit
  var truncate_elements = $('.truncate');

  truncate_elements.each(function(){
    $(this).trunk8();
  });
  $(window).resize(function (event) {
    truncate_elements.each(function(){
      $(this).trunk8();
    })
  });

  // Make height of dt/dd elements the same
  $("dl").equalize('outerHeight');

});


$.fn.visible = function(cond) { this[cond ? 'show' : 'hide' ]() };

show_flash = function(type, message) {
  var flash_div = $('.flash.' + type);
  if (flash_div.length == 0) {
    flash_div = $('<div class="flash ' + type + '" />');
    $('#wrapper').prepend(flash_div);
  }
  flash_div.html(message).show().delay(5000).fadeOut(500);
}


// Apply to individual radio button that makes another element visible when checked
$.fn.radioControlsVisibilityOfElement = function(dependentElementSelector){
  if(!this.get(0)){ return  }
  showValue = this.get(0).value;
  radioGroup = $("input[name='" + this.get(0).name + "']");
  radioGroup.each(function(){
    $(this).click(function(){
      $(dependentElementSelector).visible(this.checked && this.value == showValue)
    });
    if(this.checked){ this.click() }
  });
}

handle_date_picker_fields = function(){
  $('.datepicker').datepicker({
    dateFormat: Spree.translations.date_picker,
    dayNames: Spree.translations.abbr_day_names,
    dayNamesMin: Spree.translations.abbr_day_names,
    firstDay: Spree.translations.first_day,
    monthNames: Spree.translations.month_names,
    prevText: Spree.translations.previous,
    nextText: Spree.translations.next,
    showOn: "focus"
  });

  // Correctly display range dates
  $('.date-range-filter .datepicker-from').datepicker('option', 'onSelect', function(selectedDate) {
    $(".date-range-filter .datepicker-to" ).datepicker( "option", "minDate", selectedDate );
  });
  $('.date-range-filter .datepicker-to').datepicker('option', 'onSelect', function(selectedDate) {
    $(".date-range-filter .datepicker-from" ).datepicker( "option", "maxDate", selectedDate );
  });
}

function openVariantEdit(variant) {
  variant.children('.show').slideUp(function() {
    variant.children('.edit').slideDown();
  });
}
function closeVariantEdit(variant) {
  variant.children('.edit').slideUp(function() {
    variant.children('.show').slideDown();
  });
}
function openImageEdit(image) {
  image.children('.show').slideUp(function() {
    image.children('.edit').slideDown();
  });
}
function closeImageEdit(image) {
  image.children('.edit').slideUp(function() {
    image.children('.show').slideDown();
  });
}
function toggleDestroyMarker(resource) {
  resource.find('.destroy_marker').trigger('click');
  resource.toggleClass('remove');
}
function updateShowElementFromInput(editField) {
  var correspondingShowElement = '#show_' + editField.attr('id');
  $(correspondingShowElement).html(editField.val());
}
function updateShowElementFromSelect(editField) {
  var correspondingShowElement = '#show_' + editField.closest('.field-option_value').attr('id');
  $(correspondingShowElement).html(editField.children('option:selected').text());
}
function replaceId(element, newId) {
  // Replace last occurrence of a string of digits with the new ID
  element.prop('id', element.prop('id').replace(/\d+(?!.*\d+)/, newId))
}
function updateOptionTypes() {
  var productSlug = $('form.edit_product').data('product-slug');
  var optionTypeIds = $('#product_option_type_ids').val();
  $.ajax({  dataType: 'json',
            url: "/admin/products/" + productSlug,
            data: { product: { optionTypeIds: optionTypeIds }},
            type: 'patch',
            success: function(data) {
              updateVariantsTable();
            }
  });
}
function updateVariantsTable() {
  var productSlug = $('form.edit_product').data('product-slug');
  $.ajax({  dataType: 'html',
            url: "/admin/products/" + productSlug + "/variants",
            type: 'get',
            success: function(data) {
              $('table#variants').replaceWith(data);
            }
  });
}

function addVariantElement(target, itemTag) {
  // TODO: Get itemTag from template
  window.elementTemplate = Handlebars.compile($('#variant_template').text());
  var elementCount = $(target).find(itemTag).length;
  var newId = new Date().getTime() + (uniqueId++);
  var element = {
    id: newId,
    position: elementCount + 1,
    alt: '',
    parity: (elementCount % 2 == 0) ? 'even' : 'odd'
  };
  newElement = elementTemplate({variant: element});
  $(target).find('.no-objects-found').hide()
  $(target).append(newElement);
  $('#spree_variant_' + newId).find('.select2').select2()
  openVariantEdit($('#spree_variant_' + newId));
}

function deleteVariant(variant) {
  if (variant.hasClass('new')) {
    var variantTable = variant.closest('table')
    if (variantTable.find('.variant').length == 1) {
      variantTable.find('.no-objects-found').show();
    }
    variant.remove();
  }
  else {
    toggleDestroyMarker(variant);
  }
}

function deleteImage(image) {
  if (image.hasClass('new')) {
    var imageTable = image.closest('table')
    if (imageTable.find('.image').length == 1) {
      imageTable.find('.no-objects-found').show();
    }
    image.remove();
  }
  else {
    // Otherwise, mark it to be deleted when the product form is submitted
    toggleDestroyMarker(image);
  }
}

function deleteStockItem(stockItem) {
  toggleDestroyMarker(stockItem);
}

function addImage(target, variantId, itemTag, isMaster) {
  if (isMaster) {
    var variantsAttributesString1 = 'product_master_attributes';
    var variantsAttributesString2 = 'product[master_attributes]';
  }
  else {
    var variantsAttributesString1 = 'product_variants_attributes_' + variantId;
    var variantsAttributesString2 = 'product[variants_attributes][' + variantId + ']';
  }
  window.elementTemplate = Handlebars.compile(
    $('#variant_image_template').text()
      .replace(/product_variants_attributes_VARIANTIDGOESHERE/g, variantsAttributesString1)
      .replace(/product\[variants_attributes\]\[VARIANTIDGOESHERE\]/g, variantsAttributesString2)
  );
  var elementCount = $(target).find(itemTag).length;
  var newId = new Date().getTime() + (uniqueId++);
  var element = {
    id: newId,
    position: elementCount + 1,
    alt: '',
    parity: (elementCount % 2 == 0) ? 'even' : 'odd'
  };
  newElement = elementTemplate({image: element});
  $(target).find('.no-objects-found').hide()
  $(target).append(newElement);
  openImageEdit($('#spree_image_' + newId));
}

$(document).ready(function(){
  // open/close editing controls
  $('body').on('click', '#variants .variant .show .fa-edit', function(event) {
    event.preventDefault();
    openVariantEdit($(this).closest('.variant'));
  });
  $('body').on('click', '#images .image .show .fa-edit', function(event) {
    event.preventDefault();
    openImageEdit($(this).closest('.image'));
  });
  $('body').on('click', '#variants .variant .edit .fa-ok', function(event) {
    event.preventDefault();
    closeVariantEdit($(this).closest('.variant'));
  });
  $('body').on('click', '#images .image .edit .fa-ok', function(event) {
    event.preventDefault();
    closeImageEdit($(this).closest('.image'));
  });
  $( ".variant-edit .fa-ok" ).click(function( event ) {
    event.preventDefault();
    target = $(this).data('target');
    $( '#' + target + '-edit' ).slideUp();
    $( '#' + target ).slideDown();
  });
  $( "a#add_variants" ).click(function( event ) {
    event.preventDefault();
    $( '#admin_product_form_multiple_variants, #admin_product_form_master_variant' ).slideToggle();
  });

  // toggle stock controls
  $('body').on('change', '#product_master_attributes_track_inventory', function(event) {
    $('#master_stock_table').toggle();
  });
  $('body').on('change', '#variants .variant .edit .track_inventory', function(event) {
    $(this).closest('.stock').find('.variant_stock_table').toggle();
  });

  // delete from resource table
  $('body').on('click', '#variants .variant .show .delete-variant', function(event) {
    event.preventDefault();
    deleteVariant($(this).closest('.variant'));
  });
  $('body').on('click', '.image .delete-image', function(event) {
    event.preventDefault();
    deleteImage($(this).closest('.image'));
  });
  $('body').on('click', '#variants .stock_item.edit .delete-stock_item', function(event) {
    event.preventDefault();
    deleteStockItem($(this).closest('.stock_item'));
  });

  // Update on field changes
  $('body').on('change', '#images .image .edit input', function(event) {
    updateShowElementFromInput($(this));
  });
  $('body').on('change', '#images .image .edit select', function(event) {
    updateShowElementFromInput($(this));
  });
  $('body').on('change', '#images .image .edit textarea', function(event) {
    updateShowElementFromInput($(this));
  });
  $('body').on('change', '#variants .variant .edit input', function(event) {
    updateShowElementFromInput($(this));
  });
  $('body').on('change', '#variants .variant .edit .field-option_value select', function(event) {
    updateShowElementFromSelect($(this));
  });
  $('body').on('change','#product_option_type_ids', function(event) {
    updateOptionTypes();
  });

  // toggle resource controls
  $( "a#manage_properties" ).click(function( event ) {
    event.preventDefault();
    $( '#admin_product_form_product_properties .fields' ).slideToggle();
  });
  $( "a#manage_images" ).click(function( event ) {
    event.preventDefault();
    $( '#admin_product_form_images .fields' ).slideToggle();
  });

  // add resource
  uniqueId = 1;
  $('.spree_add_fields').click(function() {
    var target = $(this).data("target");
    var elementTag = $(this).data("elementtag");
    var newElement = $(target + ' ' + elementTag + ':visible:last').clone();
    var newId = new Date().getTime() + (uniqueId++);
    newElement.find("input, select").each(function () {
      var el = $(this);
      el.val("");
      el.prop("id", el.prop("id").replace(/\d+(?!.*\d+)/, newId))
      el.prop("name", el.prop("name").replace(/\d+(?!.*\d+)/, newId))
    })
    // When cloning a new row, set the href of all icons to be an empty "#"
    // This is so that clicking on them does not perform the actions for the
    // duplicated row
    newElement.find("a").each(function () {
      $(this).prop('href', '#');
    })
    $(target).prepend(newElement);
    $(newElement).find(".select2").select2();
  })
  $('.spree_add_variant').click(function(event) {
    event.preventDefault();
    addVariantElement(
      $(this).data("target"),
      $(this).data("itemtag")
    );
  })
  $('body').on('click', '.spree_add_image', function(event) {
    event.preventDefault();
    addImage(
      $(this).data("target"),
      $(this).data("variantid"),
      $(this).data("itemtag"),
      $(this).data("ismaster")
    );
  })

  handle_date_picker_fields();
  $(".observe_field").on('change', function() {
    target = $(this).data("update");
    ajax_indicator = $(this).data("ajax-indicator") || '#busy_indicator';
    $(target).hide();
    $(ajax_indicator).show();
    $.ajax({ dataType: 'html',
             url: $(this).data("base-url")+encodeURIComponent($(this).val()),
             type: 'get',
             success: function(data){
               $(target).html(data);
               $(ajax_indicator).hide();
               $(target).show();
             }
    });
  });



  $('body').on('click', '.delete-resource', function() {
    var el = $(this);
    if (confirm(el.data("confirm"))) {
      $.ajax({
        type: 'POST',
        url: $(this).prop("href"),
        data: {
          _method: 'delete',
          authenticity_token: AUTH_TOKEN
        },
        dataType: 'script',
        success: function(response) {
          el.parents("tr").fadeOut('hide', function() {
            $(this).remove();
          });
        },
        error: function(response, textStatus, errorThrown) {
          show_flash('error', response.responseText);
        }
      });
    }
    return false;
  });

  $('body').on('click', 'a.spree_remove_fields', function() {
    el = $(this);
    el.prev("input[type=hidden]").val("1");
    el.closest(".fields").hide();
    if (el.prop("href").substr(-1) == '#') {
      el.parents("tr").fadeOut('hide');
    }else if (el.prop("href")) {
      $.ajax({
        type: 'POST',
        url: el.prop("href"),
        data: {
          _method: 'delete',
          authenticity_token: AUTH_TOKEN
        },
        success: function(response) {
          el.parents("tr").fadeOut('hide');
        },
        error: function(response, textStatus, errorThrown) {
          show_flash('error', response.responseText);
        }

      })
    }
    return false;
  });

  $('body').on('click', '.select_properties_from_prototype', function(){
    $("#busy_indicator").show();
    var clicked_link = $(this);
    $.ajax({ dataType: 'script', url: clicked_link.prop("href"), type: 'get',
        success: function(data){
          clicked_link.parent("td").parent("tr").hide();
          $("#busy_indicator").hide();
        }
    });
    return false;
  });

  // Fix sortable helper
  var fixHelper = function(e, ui) {
      ui.children().each(function() {
          $(this).width($(this).width());
      });
      return ui;
  };

  $('table.sortable').ready(function(){
    var td_count = $(this).find('tbody tr:first-child td').length
    $('table.sortable tbody').sortable(
      {
        handle: '.handle',
        helper: fixHelper,
        placeholder: 'ui-sortable-placeholder',
        update: function(event, ui) {
          $("#progress").show();
          positions = {};
          $.each($('table.sortable tbody tr'), function(position, obj){
            reg = /spree_(\w+_?)+_(\d+)/;
            parts = reg.exec($(obj).prop('id'));
            if (parts) {
              positions['positions['+parts[2]+']'] = position;
            }
          });
          $.ajax({
            type: 'POST',
            dataType: 'script',
            url: $(ui.item).closest("table.sortable").data("sortable-link"),
            data: positions,
            success: function(data){ $("#progress").hide(); }
          });
        },
        start: function (event, ui) {
          // Set correct height for placehoder (from dragged tr)
          ui.placeholder.height(ui.item.height())
          // Fix placeholder content to make it correct width
          ui.placeholder.html("<td colspan='"+(td_count-1)+"'></td><td class='actions'></td>")
        },
        stop: function (event, ui) {
          // Fix odd/even classes after reorder
          $("table.sortable tr:even").removeClass("odd even").addClass("even");
          $("table.sortable tr:odd").removeClass("odd even").addClass("odd");
        }

      });
  });

  $('table.sortable-images').ready(function(){
    var tdCount = $(this).find('tbody tr:first-child td').length
    $('table.sortable-images').sortable(
      {
        handle: '.handle',
        helper: fixHelper,
        placeholder: 'ui-sortable-placeholder',
        update: function(event, ui) {
          $(this).children('.image').each(function (index, image) {
            $(image).find('.position_field').val(index);
          });
        },
        start: function (event, ui) {
          // Set correct height for placehoder (from dragged tr)
          ui.placeholder.height(ui.item.height())
          // Fix placeholder content to make it correct width
          ui.placeholder.html("<td colspan='"+(tdCount-1)+"'></td><td class='actions'></td>")
        },
        stop: function (event, ui) {
          // Fix odd/even classes after reorder
          $("table.sortable tr:even").removeClass("odd even").addClass("even");
          $("table.sortable tr:odd").removeClass("odd even").addClass("odd");
        }
      });
  });

  $('a.dismiss').click(function() {
    $(this).parent().fadeOut();
  });

  window.Spree.advanceOrder = function() {
      $.ajax({
          type: "PUT",
          async: false,
          url: Spree.url(Spree.routes.checkouts_api + "/" + order_number + "/advance")
      }).done(function() {
          window.location.reload();
      });
  }
});
