<tr class="stock_item show">
  <td style="width: 100%;">
    <span class="stock_location">
      <%= stock_item.stock_location.name %>
    </span>
  </td>
  <td>
    <span class="quantity"><%= stock_item.count_on_hand %></span>
    <% if stock_item.backorderable? %>
      <br>(<%= Spree.t(:backorders_allowed) %>)
    <% end %>
  </td>
</tr>
